<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title or pageTitle }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
  </head>
  <body>
    <header class="site-header" role="banner">
      <span class="logo" aria-label="Word Frequency by Bible Chapter">ƒ</span>
      <nav class="main-nav" aria-label="book navigation">
        <a href="{{ '/' | url }}">All</a>
        <a href="{{ '/alphabetical' | url }}">Alphabetical</a>
      </nav>
    </header>
    <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
    </main>
    <footer>
        Made by <a href="https://seanmcp.com" rel="noopener noreferrer">SeanMcP</a>
    </footer>
  </body>
</html>
