html {
    background: #f5f5f5;
}

body {
    color: #333;
    font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
    margin: 0 auto;
    padding: 1rem;
    max-width: 40rem;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main.book {
    display: grid;
    gap: 1rem;
}

/* Desktop styles */
@media screen and (min-width: 600px) {
    main.book {
        grid-template-columns: 16rem auto;
    }
    
    #sticky-nav {
        position: sticky;
        top: 1rem;
    }

    main.home nav {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

nav ol {
    list-style-type: none;
    padding: 0;
}

main.book nav ol {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0.5rem, 2rem));
}

main.book nav ol a {
    display: block;
}

label {
    display: block;
    margin: 1rem 0;
}

input {
    font-size: inherit;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

#back-to-top {
    bottom: 1rem;
    border: 1px solid currentColor;
    padding: 1rem;
    position: fixed;
    right: 1rem;
}

footer p {
    margin-bottom: 0;
}
